export(alpha2image)
export(getClusterMCSS)
export(getDatabaseIDs)
export(getMCSS)
export(getPeaksExplained)
export(getScores)
export(hclust.mols)
export(myimages.clustNumbers)
export(myimages.hclust)
export(plotCluster)
export(plotMetClust)
export(plotMol)
export(score.molecules.from.sdf)
export(score.molecules.from.container)
export(db.kegg.getId)
export(db.kegg.getMoleculeContainer)
export(db.pubchem.getId)
export(db.pubchem.getMoleculeContainer)
export(frag.generateFragments)
export(frag.generateMatchingFragments)
export(container.union)
export(container.intersect)
export(container.symmetric.difference)
export(container.asymmetric.difference)
export(scoring.getRanks)
export(common.lib.lookup)
export(common.lib.lookupFirst)
export(comm.lib.showLinkOptions)
importFrom(tools,file_ext)
import(rcdk)
import(rJava)
import(squash)
import(rcdklibs)
import(RCurl)
import(XML)
