export(alpha2image)
export(getClusterMCSS)
export(getDatabaseIDs)
export(getMCSS)
export(getPeaksExplained)
export(getScores)
export(hclust.mols)
export(myimages.clustNumbers)
export(myimages.hclust)
export(plotCluster)
export(plotMetClust)
export(plotMol)
export(score.molecules.from.sdf)
export(db.kegg.getId)
export(db.kegg.getMoleculeContainer)
export(db.pubchem.getId)
export(db.pubchem.getMoleculeContainer)
export(frag.generateFragments)
importFrom(tools,file_ext)
import(rcdk)
import(rJava)
import(squash)
import(rcdklibs)
import(RCurl)
import(XML)