export(alpha2image)
export(getClusterMCSS)
export(getDatabaseIDs)
export(getMCSS)
export(getPeaksExplained)
export(getScores)
export(hclust.mols)
export(myimages.clustNumbers)
export(myimages.hclust)
export(plotCluster)
export(plotMetClust)
export(plotMol)
export(score.molecules.from.sdf)
importFrom(tools,file_ext)
import(rcdk)
import(rJava)
import(squash)
